.box {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.box a {
    text-decoration: none; 
    color: #333; 
    display: block; 
    margin-bottom: 10px; 
    transition: color 0.3s; 
}


.box a:hover {
    color: #007bff; /* Change text color on hover */
}